<div class="m-5" style="text-align: center;">
<h3>Browse The Range</h3>
<p>Lorem ipsum dolor sit amet similique modi.</p>
</div>
<div class="container text-center mt-5"
          style="
            display: flex;
            justify-content: center;
            justify-items: center;
            text-align: center;
            ">

        <div class="row align-items-start">
        <div class="col-12 col-md-4 ">
            <img src="image 106.png" class="img"/>
            <h3>Dinig</h3>
        </div>
        <div  class="col-4 col-12 col-md-4 ">
            <img src="Image-living room.png" class="img" />
            <h3>Living</h3>
        </div>
        <div  class="col-4 col-12 col-md-4 ">
            <img src="Mask Group.png" class="img"/>
            <h3>Bedroom</h3>
        </div>

       </div>
 

