<app-head
  [title]="'Cart'"
  [breadcrumbText]="'Home'"
  [breadcrumbLink]="'/cart'"
  [page]="'Cart'">
</app-head>





<!-- <div class="cart" *ngIf="cartVisible">
    <h2 style="margin-top: 500px;">Shopping Cart</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, fuga aliquam. Asperiores quo magni saepe voluptatibus delectus quae perspiciatis voluptas ad obcaecati placeat, minus sapiente amet vero sunt consectetur excepturi.</p>
    <ul>
      <li *ngFor="let item of cartItems">
        {{ item.name }} - {{ item.price  }}
        <button (click)="removeFromCart(item)">Remove</button>
      </li>
    </ul>
    <p>Subtotal: {{ subtotal }}</p>
  </div>
   -->
