<app-head
  [title]="'Product Comparison'"
  [breadcrumbText]="'Home'"
  [breadcrumbLink]="'/home'"
  [page]="'Comparison'">
</app-head>

<!-- Top -->
<div class="container d-md-flex d-block">
  <div class="col-md-3 col-12 m-md-3 m-0">
    <h2>Go to Product page for more Products</h2>
    <h4 class="text-decoration-underline text-secondary">View More</h4>
  </div>
  <div class="col-md-3 col-12 d-flex flex-column m-md-4 m-0">
    <img class="imgGroup" src="Group 156.png" alt="img">
    <h3>Asgaard Sofa</h3>
    <h4>Rs. 250,000.00</h4>
    <div class="d-flex">
      <span class="fw-bold">4.1</span>
      <div class="rating"> ⭐⭐⭐⭐☆</div>
      <span class= " line me-2 ms-2 fw-lighter d-none d-md-block mt-3 "></span>
      <p>204 Review</p>
  </div>
  </div>
  <div class="col-md-3 col-12 d-flex flex-column m-md-4 m-0">
    <img class="imgGroup" src="Group 156.png" alt="img">
    <h3>Outdoor Sofa Set</h3>
    <h4>Rs. 224,000.00</h4>
    <div class="d-flex">
      <span class="fw-bold">4.0</span>
      <div class="rating"> ⭐⭐⭐⭐☆</div>
      <span class= " line me-2 ms-2 fw-lighter d-none d-md-block mt-3 "></span>
      <p>210 Review</p>
  </div>
  </div>
  <div class="col-md-3 col-12 m-3">
    <h2>Add A Product </h2>

    <div class="dropdown-center">
      <button class="btn droped dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Choose a Product
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#Asgaard Sofa">Asgaard Sofa</a></li>
        <li><a class="dropdown-item" href="#Outdoor Sofa Set">Outdoor Sofa Set</a></li>
        <hr>
        <li><a class="dropdown-item" href="#Home">Other</a></li>
      </ul>
    </div>


  </div>
</div>

<hr>

<!-- General -->
<div class="container d-md-flex">
  <div class="sid d-flex flex-column p-5 col-md-4 col-12">

      <h2 class="p-2 ">General</h2>
      <p  class="p-2">Sales Package</p>
      <p class="p-2">Model Number</p>
      <p class="p-2">Secondary Material</p>
      <p class="p-2">Configuration</p>
      <p class="p-2">Upholstery Material</p>
      <p class="p-2">Upholstery Color</p>

  </div>
  <div class="sid d-flex flex-column pl-3 pt-5 col-md-4 col-12">

    <h2 class="p-4 "> </h2>
    <p  class="p-2">1 sectional sofa</p>
    <p class="p-2">TFCBLIGRBL6SRHS</p>
    <p class="p-2">Solid Wood</p>
    <p class="p-2">L-shaped</p>
    <p class="p-2">Fabric + Cotton</p>
    <p class="p-2">Bright Grey & Lion</p>

</div>
<div class="sid d-flex flex-column pt-5 col-md-4 col-12">

  <h2 class="p-4 "> </h2>
  <p  class="p-2">1 Three Seater, 2 Single Seater</p>
  <p class="p-2">DTUBLIGRBL568</p>
  <p class="p-2">Solid Wood</p>
  <p class="p-2">L-shaped</p>
  <p class="p-2">Fabric + Cotton</p>
  <p class="p-2">Bright Grey & Lion</p>

</div>
  <div></div>
</div>

<!-- Products -->
<div class="container d-md-flex">
  <div class=" sid d-flex flex-column p-5 col-md-4 col-12">

      <h2 class="p-2 ">Product</h2>
      <p  class="p-2">Filling Material</p>
      <p class="p-2">Finish Type</p>
      <p class="p-2">Adjustable Headrest</p>
      <p class="p-2">Maximum Load Capacity</p>
      <p class="p-2">Origin of Manufacture</p>

  </div>
  <div class="sid d-flex flex-column pl-3 pt-5 col-md-4 col-12">

    <h2 class="p-4 "> </h2>
    <p  class="p-2">Foam</p>
    <p class="p-2">Bright Grey & Lion</p>
    <p class="p-2">No</p>
    <p class="p-2">280 KG</p>
    <p class="p-2">India</p>

</div>
<div class="sid d-flex flex-column pl-3 pt-5 col-md-4 col-12">

  <h2 class="p-4 "> </h2>
  <p  class="p-2">Matte</p>
  <p class="p-2">Bright Grey & Lion</p>
  <p class="p-2">Yes</p>
  <p class="p-2">300 KG</p>
  <p class="p-2">India</p>

</div>
  <div></div>
</div>

<!-- Dimentions -->
<div class="container d-md-flex">
  <div class="sid d-flex flex-column p-5 col-md-4 col-12">

      <h2 class="p-2 ">Dimentions</h2>
      <p  class="p-2">Width</p>
      <p class="p-2"> Height</p>
      <p class="p-2"> Depth</p>
      <p class="p-2">weight</p>
      <p class="p-2">Seat Height</p>
      <p class="p-2">leg Height</p>

  </div>
  <div class=" sid d-flex flex-column pl-3 pt-5 col-md-4 col-12">

    <h2 class="p-4 "> </h2>
    <p  class="p-2">265.32 cm</p>
    <p class="p-2">76 cm</p>
    <p class="p-2">167.76 cm</p>
    <p class="p-2">45 KG</p>
    <p class="p-2">41.52 cm</p>
    <p class="p-2">5.46 cm</p>

</div>
<div class="sid d-flex flex-column pl-3 pt-5 col-md-4 col-12">

  <h2 class="p-4 "> </h2>
  <p  class="p-2">265.32 cm</p>
  <p class="p-2">76 cm</p>
  <p class="p-2">167.76 cm</p>
  <p class="p-2">65 KG</p>
  <p class="p-2">41.52 cm</p>
  <p class="p-2">5.46 cm</p>
</div>
  <div></div>
</div>
<!-- Warranty -->
<div class="container d-md-flex">
  <div class="sid d-flex flex-column p-5 col-md-4 col-12">

      <h2 class="p-2 ">Warranty </h2>
      <p  class="p-2">Warranty Summary</p>
      <p class="p-2 ">Warranty Service Type</p>
      <p class="p-2 mt-4">Covered in Warranty</p>
      <p class="p-2 mt-4">Not Covered in Warranty</p>
      <p class="p-2 mt-5">Domestic Warranty</p>
      <p class="p-2"></p>

  </div>
  <div class=" sid d-flex flex-column pl-3 pt-5 col-md-4 col-12">

    <h2 class="p-4 "> </h2>
    <p  class="p-2">1 Year Manufacturing Warranty</p>
    <p class="p-2">For Warranty Claims or Any Product Related Issues Please Email at operations
      trevifurniture.com</p>
    <p class="p-2">Warranty Against Manufacturing Defect</p>
    <p class="p-2 mt-4">The Warranty Does Not Cover Damages Due To Usage Of The Product Beyond
       Its Intended Use And Wear & Tear In The Natural Course Of Product Usage.</p>
    <p class="p-2">1Year</p>
    <button class="btn">Add Product</button>

</div>
<div class="sid d-flex flex-column pt-5 col-md-4 col-12">

  <h2 class="p-4 "> </h2>
  <p  class="p-2">1.2 Year Manufacturing Warranty</p>
  <p class="p-2">For Warranty Claims or Any Product Related Issues Please Email at operations 
    trevifurniture.com</p>
  <p class="p-2">Warranty of the product is limited to manufacturing defects only.</p>
  <p class="p-2">The Warranty Does Not Cover Damages Due To Usage Of The Product Beyond Its
     Intended Use And Wear & Tear In The Natural Course Of Product Usage.</p>
  <p class="p-2">Three Months</p>
  <button class="btn">Add Product</button>

</div>
  <div></div>
</div>

<app-reward></app-reward>