.bg{
    min-width: 100%;
    max-width: 200%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;

}
.background-image{
  object-fit:cover;
  object-position: 18%;
}
.num{
  border: 0 solid white; 
        background-color: white;
         color: grey;
         width:40px
}
.default{
  border: 0 solid white; 
            background-color: white;
            color: grey;
            width: 90px
}
img{
  opacity: 1;
  // object-fit: fill;
    height: 400px;
    max-width: 300%;
    min-width: 100%;
    position: relative;
    
}

.hel {
    position: absolute;
    top: 50%;
    left: 45%;
  
    @media (max-width: 768px) {
      left: 35%;
    }
}  

.fil{
  background-color: #F9F1E7;
}
.fil .ro{
    display: flex;
    padding: 50px;
}

.dot-square {
    display: grid;
    grid-template-columns: repeat(2, 10px);
    grid-template-rows: repeat(2, 10px);
    gap: 0px; 
  
    .dot {
      width:150px;
      height: 150px;
      background-color: black;
      border-radius: 50%;
    }
  }
  
.line{
width: 37px;
height: 0px;
top: 448px;
left: 312px;
gap: 0px;
border: 2px 0px 0px 0px;
opacity: 0px;
transform: rotate(90deg);
border: 2px solid #9F9F9F
}
