<header class="header container-fluid bg-image " style="background-image: url(background.png);">
    <div class="header-content ">
           <div class="hov d-flex justify-content-center align-text-start"> 
            <div class="cov">
                <p class="">New Arrival</p>
                <h2 class="colerch fw-bold" >
                    Discover Our New Collection
                </h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                <button class="btn"
                   (click)="goShop()"
                   [routerLink]="['/shop']" routerLinkActive="router-link-active"
                   > Buy Now</button>
            </div>
        </div>

    </div>
