<div class="row d-flex p-2 m-0 mt-3 pt-5 pb-5" 
style="background-color: #FAF3EA;">
    <div class="col-md-3 col-12 d-flex justify-content-center">
        <div class="font"><i class="bi bi-trophy"></i></div>
        <div class="ps-2 pt-3">
            <h4 class="fw-bold ">High qulality</h4>
            <p>Crafted from top material</p>
        </div>
    </div>
   
    <div class="col-md-3 col-12 d-flex justify-content-center ">
        <div  class="font" ><i class="bi bi-patch-check"></i></div>
        <div class="ps-2 pt-3">
            <h4 class="fw-bold" >Warranty protection</h4>
            <p>Over 2 years </p>
        </div>
    </div>

    <div class="col-md-3 col-12 d-flex justify-content-center">
        <div  class="font"><i class="bi bi-truck"></i></div>
        <div class="ps-2 pt-3">
            <h4 class="fw-bold">Free shipping</h4>
            <p>Order over 150 $</p>
        </div>
    </div>

    <div class="col-md-3 col-12 d-flex justify-content-center">
        <div  class="font"><i class="bi bi-headset"></i></div>
        <div class="ps-2 pt-3">
            <h4 class="fw-bold">24/7 support</h4>
            <p>Dedicated Support </p>
        </div>
    </div>

</div>
