<div class="container">
    <p>Share Your setuo with</p>
    <h1> #FuniroForniture </h1>
    <div>
        <img src="Rectangle 45.png" alt="img" style="width:325px; height: 350px">
        <img src="Rectangle 38.png" alt="img" style=" width:200px; height: 250px;">
        <img src="Rectangle 39.png" alt="img" style="width:100px; height: 150px;">
        <img src="Rectangle 40.png" alt="img" style="width:325px; height: 350px;">
        <img src="Rectangle 41.png" alt="img" style="width:170px; height: 190px;"> 
        <img src="Rectangle 43.png" alt="img" style="width:225px; height: 275px">
        <img src="Rectangle 44.png" alt="img" style="width:245px; height: 350px;">
        <img src="Rectangle 37.png" alt="img" style="width:90px; height: 120px;">
        <img src="image 7.png" alt="img" style="width:220px; height: 300px;">
        <img src="Rectangle 24.png" alt="img" style="width:100px; height: 150px;">
        <img src="Rectangle 25.png" alt="img" style="width:170px; height: 190px;"> 
    </div>
</div>
