<div class="fil pt-4 ps-5 ">
        <div class="d-flex pb-4" >
            <a class="text-secondary text-decoration-none me-2 ms-2 " routerLink='/home'
             routerLinkActive="router-link-active"
            >Home</a>
            <span class="text-dark me-2 ms-2 "> > </span>
            <a class="text-secondary text-decoration-none me-2 ms-2 " routerLink='/shop'
            routerLinkActive="router-link-active">Shop</a>
            <span class="text-dark me-2 ms-2 "> > </span>
            <span class= " line me-2 ms-2 fw-lighter d-none d-md-block mt-3 "></span>
            <a routerLink='/details' class="text-dark text-decoration-none"
            routerLinkActive="router-link-active">Asgaard Sofa</a>
        </div>
    </div>
    <div class="container mt-5">

        <div class="d-md-flex d-block ">
           <div class="d-flex col-md-6 col-12 me-5">
            <div class="d-flex flex-column col-md-3 ">
               <div class="img-side" > <img src="details0.png" alt="img"  (click)="changeImage('details0.png') "></div> 
                <div class="img-side" ><img  src="details1.png" (click)="changeImage('details1.png') "></div>
                <div class="img-side"><img  src="details2.png" (click)="changeImage('details2.png') "></div>
                <div class="img-side"><img src="details3.png" (click)="changeImage('details3.png') "></div>
            </div>
            <div class="col-md-3 col-9">
                <img class="covers" [src]="cover" alt="img">
            </div>
           </div>

          
          
           <div class="side col-md-6 col-12 m-2 ">
            <h1>Asgaard sofa</h1>
            <h4 class="tex">Rs. 250,000.00</h4>
            <div class="d-flex">
                <i class="star bi bi-star-fill"></i>
                <i class="star bi bi-star-fill"></i>
                <i class="star bi bi-star-fill"></i>
                <i class="star bi bi-star-fill"></i>
                <i class="star bi bi-star-fill"></i>
                <span class= " line me-2 ms-2 fw-lighter d-none d-md-block mt-3 "></span>
                <p>5 Customer Review</p>
            </div>
            <p>Setting the bar as one of the loudest speakers in its class, 
                the Kilburn is a compact, stout-hearted hero with a well-balanced
                 audio which boasts a clear midrange and extended highs for a sound.

            </p>
            <p class="tex">size</p>
            <div>
                <button class="btn abs"> L </button>
                <button class="btn abs"> XL </button>
                <button class="btn abs"> XS </button>
            </div>
            <p class="tex">Color</p>
            <div>
                <button class="btn abc0">  </button>
                <button class="btn abc1">  </button>
                <button class="btn abc2"> </button>
            </div>

            <div class="mt-4">
                    <button class="btn add ps-4 pe-4">
                        <span class="me-3" (click)="decrement()">-</span> 
                        {{ count }} 
                        <span class="ms-3" (click)="increment()">+</span>
                      </button>
                      
                <button class="btn add  ps-5 pe-5"> Add To Card  </button>
                <button class="btn add  ps-5 pe-5"> Compare </button>
            </div>
            <hr/>
            <div class="d-flex">
                <p class="tex0 ">SKU</p>
                <span class="tex ">:</span>
                <p class="tex ps-4">SS001</p>
            </div>
            <div class="d-flex">
                <p class="tex0 ">Category</p>
                <span class="tex ">:</span>
                <p class="tex ps-4">Sofas</p>
            </div>
            <div class="d-flex">
                <p class="tex0 ">Tags</p>
                <span class="tex ">:</span>
                <p class="tex ps-4">Sofa, Chair, Home, Shop</p>
            </div>
            <div class="d-flex">
                <p class="tex0 ">Share</p>
                <span class="tex ">:</span>
                <p class= "">
                    <i class="bi bi-facebook m-3"></i>
                    <i class="bi bi-linkedin m-3"></i>
                    <i class="bi bi-twitter m-3"></i>
                </p>
            </div>
            
           </div>
        </div>
    </div>
    <hr/>


