<div class= " title container d-md-flex d-block align-content-center align-items-center">
    <h2 class="m-3">Description</h2>
    <h4 class="m-4 tex">Additional Information</h4>
    <h4 class="m-4 tex">Reviews [5]</h4>
</div>

<div class="container align-content-center align-items-center">
    <p class="tex">Embodying the raw, wayward spirit of rock ‘n’ roll,
         the Kilburn portable active stereo speaker takes the unmistakable look and sound of Marshall,
         unplugs the chords, and takes the show on the road.</p>
    
         <p class="tex">Weighing in under 7 pounds, the Kilburn is a lightweight piece of vintage styled engineering.
             Setting the bar as one of the loudest speakers in its class, the Kilburn is a compact,
              stout-hearted hero with a well-balanced audio which boasts a clear midrange and extended highs
               for a sound that is both articulate and pronounced. The analogue knobs allow you to fine tune
                the controls to your personal preferences while
             the guitar-influenced leather strap enables easy and stylish travel.</p>
</div>
<div class=" images container d-md-flex d-block ">
    <img src="Cloud sofa three seater + ottoman_1 1.png " class="img m-3 p-2 col-md-6 col-12 ms-5 ms-md-1" alt="img">
    <img src="Cloud sofa three seater + ottoman_2 1.png " class="img m-3 p-2 col-md-6 col-12 ms-5 ms-md-1" alt="img">
</div>