<app-head
  [title]="'Checkout'"
  [breadcrumbText]="'Home'"
  [breadcrumbLink]="'/home'"
  [page]="'Checkout'">
</app-head>

<div>
  <div class="container d-md-flex">

    <!-- left -->
    <div class="col-md-6 col-12 ">

    <h2 class="mt-5 mb-5">Billing details</h2>
    <div class="d-md-flex">

      <div class="mb-3 me-3">
        <label for="basic-url" class="form-label">Frist Name</label>
        <div class="input-group">
          <input type="text" class="form-control" id="basic-url"
           aria-describedby="basic-addon3 basic-addon4">
        </div>
      </div>

      <div class="mb-3">
        <label for="basic-url" class="form-label">Last Name</label>
        <div class="input-group">
          <input type="text" class="form-control" id="basic-url"
           aria-describedby="basic-addon3 basic-addon4">
        </div>
      </div>

    </div>

    <div class="mb-3">
      <label for="basic-url" class="form-label">Company Name (Optional)</label>
      <div class="input-group">
        <input type="text" class="form-control" id="basic-url"
         aria-describedby="basic-addon3 basic-addon4">
      </div>
    </div>
     
    <!-- dropdown -->
    <label for="basic-url" class="form-label">Country / Region</label>
    <div class="input-group mb-3">  
    
      <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="Sri Lanka">
      <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      </button>
      <ul class="dropdown-menu dropdown-menu-end">
        <li><a class="dropdown-item" href="#">Sri Lanka</a></li>
        <li><a class="dropdown-item" href="#">USA</a></li>
        <li><a class="dropdown-item" href="#">Middel East</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Other</a></li>
      </ul>
    </div>

    <div class="mb-3">
      <label for="basic-url" class="form-label">Street address</label>
      <div class="input-group">
        <input type="text" class="form-control" id="basic-url"
         aria-describedby="basic-addon3 basic-addon4">
      </div>
    </div>
     
    <div class="mb-3">
      <label for="basic-url" class="form-label">Town / City</label>
      <div class="input-group">
        <input type="text" class="form-control" id="basic-url"
         aria-describedby="basic-addon3 basic-addon4">
      </div>
    </div>

     <!-- dropdown -->
     <label for="basic-url" class="form-label">Province</label>
     <div class="input-group mb-3">  
      <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="Western Province">
      <button class="btn btn-outline-secondary dropdown-toggle"
       type="button" data-bs-toggle="dropdown" aria-expanded="false">
      </button>
      <ul class="dropdown-menu dropdown-menu-end">
        <li><a class="dropdown-item" href="#">Western Province</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Other</a></li>
      </ul>
    </div>

    <div class="mb-3">
      <label for="basic-url" class="form-label">ZIP Code</label>
      <div class="input-group">
        <input type="text" class="form-control" id="basic-url"
         aria-describedby="basic-addon3 basic-addon4">
      </div>
    </div>
     
    <div class="mb-3">
      <label for="basic-url" class="form-label">Phone</label>
      <div class="input-group">
        <input type="text" class="form-control" id="basic-url"
         aria-describedby="basic-addon3 basic-addon4">
      </div>
    </div>

    <div class="mb-3">
      <label for="basic-url" class="form-label">Email address</label>
      <div class="input-group">
        <input type="text" class="form-control" id="basic-url"
         aria-describedby="basic-addon3 basic-addon4">
      </div>
    </div>
     
    <div class="mb-3">
      <!-- <label for="basic-url" class="form-label"></label> -->
      <div class="input-group">
        <input type="text" class="form-control" id="basic-url"
         aria-describedby="basic-addon3 basic-addon4" placeholder="Additional information">
      </div>
    </div>
     

  </div>

   <!-- right -->
  <div class="col-md-6 col-12 mt-md-5 pt-md-5">
    <div class="container0 p-5">
      <div class="d-flex justify-content-between">
        <h3>Product</h3>
        <h3>Subtotal</h3>
      </div>

      <div class="d-flex justify-content-between">
        <p class="tit0">Asgaard sofa <i class="bi bi-x"></i> 1</p>
        <p>Rs. 250,000.00</p>
      </div>

      <div class="d-flex justify-content-between">
        <p>Subtotal</p>
        <p>Rs. 250,000.00</p>
      </div>

      <div class="d-flex justify-content-between">
        <h4>Total</h4>
        <h3 class="tit1">Rs. 250,000.00</h3>
      </div>

    <hr/>
    <div>
      <div class="d-flex">
        <div class="dot mt-2 me-2"></div>
       <p class="fw-bold"> Direct Bank Transfer</p>
      </div>
      <p class="tit0">Make your payment directly into our bank account. Please use your Order ID as the payment reference.
         Your order will not be shipped until the funds have cleared in our account.</p>
        
         <div class="d-flex">
          <div class="dot0 mt-2 me-2"></div>
         <p class="tit0"> Direct Bank Transfer</p>
        </div>

        <div class="d-flex">
          <div class="dot0 mt-2 me-2"></div>
         <p class="tit0"> Cash On Delivery</p>
        </div>

        <p>Your personal data will be used to support your experience throughout this website, to manage access to your account,
           and for other purposes described in our <span class="fw-bold"> privacy policy</span>.</p>

           <div class="d-flex justify-items-center justify-content-center mt-5">
            <button class="btn p-3 w-50">Place order</button>
           </div>
    </div>
    </div>

  </div>

</div>
</div>

<app-reward></app-reward>