
.tit0{
    color: #aaa9a7;
  }
.tit1{
    color: #B88E2F;
  }
.dot{
    border-radius: 50%;
    background-color: black;
    width: 10px;
    height: 10px;
    color: black;
}

.dot0{
    border-radius: 50%;
    background-color: white;
    border: 1px solid gray;
    width: 10px;
    height: 10px;

}
.btn{
    border-radius: 10px;
    border: 1px solid black;
  }