.fil{
    min-width: 100%;
    max-width: 200%;
    background-color: #F9F1E7;
    margin-top: 90px;
    @media (max-width: 768px) {
        margin-top: 85px;
        // width: 714px;;
      }
  }

 .tex{
 color: gray;
 }
 .tex0{
    width: 90px;
    color: gray;
 }
 .star{
    color: #FFC700;
    margin: 2px;
 }

 .abs{
    width: 35px;
    height: 35px;
    margin: 5px;
    background-color: #F9F1E7;

 }
 .abc0{
    border-radius: 50%;
    background-color: #816DFA;
    width: 25px;
    height: 25px;
    margin: 5px;
 }
 .abc1{
    border-radius: 50%;
    background-color: #000000;
    width: 25px;
    height: 25px;
    margin: 5px;

 }
 .abc2{
    border-radius: 50%;
    background-color: #B88E2F;
    width: 25px;
    height: 25px;
    margin: 5px;

 }
 .abs:hover{
    background-color: #B88E2F;
 }
 .add{
    color: #000000;
    font-weight: 500;
    padding: 15px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 15px;
 }

 .add:hover{
    border: 1px solid #9F9F9F;
 }
.line{
    width: 25px;
    height: 0px;
    top: 400px;
    margin-top: 0px;
    left: 312px;
    gap: 0px;
    border: 2px 0px 0px 0px;
    opacity: 0px;
    transform: rotate(90deg);
    border: 1px solid #9F9F9F;
 
    }
    
    .img-side{
        background-color: #F9F1E7;
        width: 80px;
        height: 63px;
        margin: 10px;
        border-radius: 10px;
        padding: 5px;
    }

    .covers{
        background-color: #F9F1E7;
        border-radius: 10px;
        padding: 5px;
        width: 450px;
        height: 350px;
        object-fit: cover;
        @media (max-width: 768px) {
            width: 250px;
            height: 250px;
          }
    
    }

    .side{
        margin-left: auto;
    }


    