<div class="bg">
    <img class="background-image" src="../../../../assets/Rectangle 1.png" alt="Background Image">
    <div class="hel">
      <img class="log" src="../../../../assets/Meubel House_Logos-05.png" alt="Logo">
      <h2 class="fw-bolder">{{ title }}</h2>
      <p class="fw-bolder">
        <a class="text-dark text-decoration-none" routerLink="main/home">
          Home </a>
        > <span class="text-light-emphasis">{{ page }}</span>
      </p>
    </div>
  </div>
  
